asgiref==3.9.1
bcrypt==4.3.0
boto3==1.35.94
botocore==1.35.99
channels==4.3.2
daphne==4.2.3
Django==5.2.16
gunicorn==26.0.0
openpyxl==3.1.5
python-calamine==0.8.2
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.2.2
