{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard | GeoFlow</title>
        <link rel="shortcut icon" href="{% static 'control/img/icons/icon-48x48.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
        <link class="js-stylesheet" href="{% static 'control/css/light.css' %}" rel="stylesheet">
        <script src="{% static 'control/js/settings.js' %}"></script>
    </head>

<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle"><i class="hamburger align-self-center"></i></a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'control:account_password_change' %}">비밀번호 변경</a>
      </li>
      <li class="nav-item">
        <form method="post" action="{% url 'control:logout' %}" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="nav-link btn btn-link border-0 bg-transparent">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>